<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aplikasi Klasifikasi kNN dan MkNN</title>
    <!-- Tailwinds -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/Logos.png" style="border-radius: 50%;" />
    <style>
        .subBtn {
            background-color: #0AA1DD !important;
            color: #EFFFFD;
            cursor: pointer;
            border-color: #B8FFF9;
        }
        .subBtn:hover {
            background-color: #B8FFF9 !important;
            color: #0AA1DD;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container scroll-smooth mx-auto px-48" style="margin-top: 3%; margin-bottom: 3%;">
    <div class="block">
        <div class="relative align-middle border-2 rounded-xl" style="background-color: #0AA1DD;">
            <h1 class="font-family: Noto Sans font-bold text-2xl text-center pt-12" style="color: #E8F9FD">PERBANDINGAN ALGORITMA k-NEAREST NEIGHBOR (kNN) <br>
                                                                                                            DAN <br>
                                                                                                            MODIFIED k-NEAREST NEIGHBOR (MkNN) <br>
                                                                                                            UNTUK KLASIFIKASI INFARK MIOKARD (SERANGAN JANTUNG) <br>
                                                                                                            MELALUI SINYAL ELEKTROKARDIOGRAM (EKG)
            </h1>
            {% if get_flashed_messages() == [] %}
            <h1 class="font-semibold text-xl text-center pt-10 text-white" style="color: #E8F9FD">{{data.form}}</h1>
            {% endif %}
            <div class="px-80 pt-10">
                {% for message in get_flashed_messages() %}
                <h2 class="py-2 font-bold text-xl text-center text-white rounded-xl border-2 border-solid bg-red-500  border-red-500">{{ message }}</h2>
                {% endfor %}
            </div>
            {% if data.form == "Masukkan Dua File (.dat) dan (.hea)" %}
            <div class="flex flex-col justify-center items-center pt-6">
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <input type="file" name="file" class="bg-white rounded-sm border-2 border-solid" multiple>
                <input type="submit"value="Upload" class="rounded-xl border-2 border-solid px-4 py-1 subBtn font-bold">
            </form>
        </div>
        {% endif %}
        {% if data.form != "Masukkan Dua File (.dat) dan (.hea)" %}
            <div class="flex justify-center pt-5">
                <a href="{{ url_for('router_bp.home') }}" class="rounded-xl subBtn font-bold border-2 px-4 py-1"><button>Reset</button></a>
            </div>
        <div class="flex flex-row justify-center pt-5">
            <form action="/progress" method="post">
                <input name="preproc" type="submit" class=" subBtn font-bold border-2 rounded-xl px-4 py-2 mx-3 mt-5" value="Hasil Preprocessing" >
                <input name="clasi" type="submit" class=" subBtn font-bold border-2 rounded-xl px-4 py-2 mx-3 mt-5" value="Hasil Klasifikasi" >
            </form>
        </div>
        
        {% endif %}
        <div class="flex-col justify-center rounded-lg border-2 my-10 mx-80 bg-white">
            {% if data.resM == "?" %}
            <h1 class="text-center font-bold py-24" style="color:#0AA1DD">{{data.res}}</h1>
            {% endif %}
            {% if data.resM != "?" %}
            <div class="flex-row py-5 text-center" style="color:#0AA1DD">
                <h1 class="font-extrabold text-3xl"> K-Nearest Neighbor</h1>
                <h1 class="font-semibold"> Memprediksi <b class="text-lg">{{data.res[0]}}</b></h1>
                <h1 class="font-semibold"> Accuracy =  <b>{{data.res[1]}}%</b></h1>
                <h1 class="font-semibold"> Precission =  {{data.res[2]}}</h1>
                <h1 class="font-semibold"> Recall =  {{data.res[3]}}</h1>
                <h1 class="font-semibold"> F1 Score =  {{data.res[4]}}</h1>
                <h1 class="font-semibold"> Waktu Komputasi =  {{data.res[5]}} <i>second</i></h1>
            </div>
            <div class="flex-row py-5 text-center" style="color:#0AA1DD">
                <h1 class="font-extrabold text-3xl"> Modified K-Nearest Neighbor</h1>
                <h1 class="font-semibold"> Memprediksi <b class="text-lg">{{data.resM[0]}}</b></h1>
                <h1 class="font-semibold"> Accuracy =  <b>{{data.resM[1]}}%</b></h1>
                <h1 class="font-semibold"> Precission =  {{data.resM[2]}}</h1>
                <h1 class="font-semibold"> Recall =  {{data.resM[3]}}</h1>
                <h1 class="font-semibold"> F1 Score =  {{data.resM[4]}}</h1>
                <h1 class="font-semibold"> Waktu Komputasi =  {{data.resM[5]}} <i>second</i></h1>
            </div>
            {% endif %}
        </div>
        
        </div>
    </div>
    </div>
</body>
</html>
